    <header class="image-bg-fluid-height">
        <div class="container-fluid">
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control" placeholder="keyword / Job Title, Custom Clearance"/>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" placeholder="Location / City" />
                    </div>
                </div>
                
                <br />
                
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control" placeholder="Industry: Textile, FMCG" />
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" placeholder="Job Type: Permanent, Project Work" />
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
            </div>
        </header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3>Job Suggestion</h3>
            </div>
            <div class="col-lg-4">
                <p></p>
            </div>
            <div class="col-lg-4">
                <h3>Sponsored Job Posting</h3>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>Terms & Conditions</li>
                    <li>Contact us</li>
                    <li>About us</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyrights &#169; Jobs for Retired All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>